/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


@font-face {
	font-family: 'Verlag-Book';
	src:asset-url('Verlag-Book.otf') format("opentype");
	src:asset-url('Verlag-Book.eot?d7yf1v');
	src:asset-url('Verlag-Book.eot?#iefixd7yf1v') format('embedded-opentype'),
		asset-url('Verlag-Book.woff?d7yf1v') format('woff'),
		asset-url('Verlag-Book.ttf?d7yf1v') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Verlag-Book';
	src:asset-url('Verlag-Bold.otf') format("opentype");
	src:asset-url('Verlag-Bold.eot?d7yf1v');
	src:asset-url('Verlag-Bold.eot?#iefixd7yf1v') format('embedded-opentype'),
		asset-url('Verlag-Bold.woff?d7yf1v') format('woff'),
		asset-url('Verlag-Bold.ttf?d7yf1v') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Slim-Joe';
	src:asset-url('Slim-Joe.eot?d7yf1v');
	src:asset-url('Slim-Joe.eot?#iefixd7yf1v') format('embedded-opentype'),
		asset-url('Slim-Joe.woff?d7yf1v') format('woff'),
		asset-url('Slim-Joe.ttf?d7yf1v') format('truetype');
	font-weight: normal;
	font-style: normal;
}

